*{-webkit-tap-highlight-color:transparent;list-style:none;margin:0;padding:0;}
img{border:none;}
body{background:#1a1a1a;}
.routerView *{color:#fff;}
.loading-container{text-align:center;padding-top:30px;}

.miniPlayerShow .routerView .scrollView{padding-bottom:60px;}